.lead {
position: relative;
max-width: 100%;
padding: 0 148px 92px 148px;
}

@media screen and (max-width: 1024px) {
.lead {
padding: 0 48px 92px 48px;
}
}

@media screen and (max-width: 768px) {
.lead {
padding: 0 0 88px 0;
}
}

@media screen and (max-width: 425px) {
.lead {
padding: 0 2px 64px 2px;
}    
}