.lead {
    position: relative;
    max-width: 984px;
    padding: 0 148px 92px;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: -o-center;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        padding: 0 48px 92px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0 0 88px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        padding: 0 2px 64px;
    }
}