.lead__title {
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;
color: #FFFFFF;
padding: 0 132px 32px 132px;
margin: 0;
}
@media screen and (max-width: 1024px) {
.lead__title {
padding: 0 104px 32px 104px;
}
}

@media screen and (max-width: 768px) {
.lead__title {
padding: 0 24px 32px 24px;
}
}

@media screen and (max-width: 425px) {
.lead__title {
padding: 0 16px 16px 16px;
font-size: 40px;
line-height: 44px;
}
}