.place__paragraph {
    padding-bottom: 26px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    word-break: break-word;
    margin: 0;
}

.place__paragraph:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        padding-bottom: 25px;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        padding: 0 16px 25px 16px;
        word-break: normal;
    }
}