.place__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: .8;
    transition: 0.5s ease-in;
}

@media screen and (max-width: 768px) {
    .place__link {
        font-size: 2.34vw;
    }
}

@media screen and (max-width: 320px) {
    .place__link {
        font-size: 18px;
    }
}