.place {
    display: grid;
    grid-template-columns: 46.749% 1fr;
    gap: 48px 40px;
    grid-template-areas:
        "place__title place__website"
        "place__image place__paragraph"
        "place__image place__paragraphs";
    padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: 47.414% 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: 47.224% 1fr;
        gap: 48px 28px;
        padding-bottom: 72px;
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-areas:
            "place__title"
            "place__website"
            "place__image"
            "place__paragraph"
            "place__paragraphs";
        grid-template-columns: 100%;
        gap: 32px;
        padding-bottom: 50px;
    }
}