.place__website {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    align-self: flex-end;
}

@media screen and (max-width: 320px) {
    .place__website {
        padding: 0 16px 0 16px;
    }
}